<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h2>Modal Example</h2>
		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Modal Header</h4>
					</div>
					<div class="modal-body">
						<h2>Dynamic Tabs</h2>
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#home">Будинок</a></li>
							<li><a data-toggle="tab" href="#menu1">Провайдери</a></li>
							<li><a data-toggle="tab" href="#menu2">БМС</a></li>
							<li><a data-toggle="tab" href="#menu3">Нелегали</a></li>
							<li><a data-toggle="tab" href="#menu4">аа</a></li>
						</ul>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
								<h3>{{build}}</h3>
								<table class="table table-striped">
									<!-- Шапка таблиці
									<thead>
										<tr>
											<th>Firstname</th>
											<th>Lastname</th>
											<th>Email</th>
										</tr>
									</thead>
								-->
								<tbody>
									<tr>
										<td class="bg-primary">Балансоутримувач</td>
										<td>{{balans}}</td>
									</tr>
									<tr>
										<td class="bg-primary">Обслуговуюча організація</td>
										<td>{{obslug}}</td>
									</tr>
									<tr>
										<td class="bg-primary">July</td>
										<td>july@example.comвфівфвфівф іфвфвфів фвфівфвфіві фівфівфівфів фівфівфів </td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="menu1" class="tab-pane fade">
							<h3>Menu 1</h3>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div id="menu2" class="tab-pane fade">
							<h3>Menu 2</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						</div>
						<div id="menu3" class="tab-pane fade">
							<h3>Menu 3</h3>
							<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							<input type="text" class="form-control">
						</div>

					</script>
					<div id="menu4" class="tab-pane fade">
						<h3>Menu 4</h3>
						<select class="form-control1" >
							<option value="799">Голосіївський / 40-річчя Жовтня</option>
							<option value="869">Iсаакяна</option>
							<option value="999">Авіаконструктора Ігоря Сікорського</option>
							<option value="826">Автозаводська</option>
							<option value="827">Агрегатна</option>
							<option value="184">Азербайджанська</option>
							<option value="214">пров. Іпсилантієвський / Аістова</option>
							<option value="851">Алішера Навої</option>
							<option value="185">Алма-Атинська</option>
							<option value="726">Андріївська</option>
							<option value="332">Андріївський</option>
							<option value="870">Андрющенка Григорiя</option>
							<option value="525">Андрющенка Григорія</option>
							<option value="276">Антонова авіаконструктора</option>
							<option value="390">Арсенальна</option>
							<option value="391">Арсенальний</option>
							<option value="791">Січових Стрільців / Артема</option>
							<option value="871">Артилерiйський</option>
							<option value="92">Артилерійський</option>
							<option value="867">Архітектора Ніколаєва</option>
							<option value="186">Астраханська</option>
							<option value="69">Ахматової Анни</option>
							<option value="872">Бiлоруська</option>
							<option value="980">Безрука Марка / Бабушкiна</option>
							<option value="873">Бабушкiна</option>
							<option value="936">Безручка Марка / Бабушкіна</option>
							<option value="5">Бабушкіна</option>
							<option value="874">Багговутiвська</option>
							<option value="10">Багговутівська</option>
							<option value="125">Бажана</option>
							<option value="187">Бажова</option>
							<option value="406">Бакинська</option>
							<option value="6">Балакліївська</option>
							<option value="63">Бальзака</option>
							<option value="374">Барбюса Анрі</option>
							<option value="316">Басейна</option>
							<option value="354">Бастіонна</option>
							<option value="386">Бастіонний</option>
							<option value="1005">Корчака Януша / Баумана</option>
							<option value="38">Баумана</option>
							<option value="472">Бауманська</option>
							<option value="536">Бахмацька</option>
							<option value="992">Безручка Марка</option>
							<option value="30">Берегова</option>
							<option value="837">Бережанська</option>
							<option value="666">Березнева</option>
							<option value="188">Березняківська</option>
							<option value="65">Беретті</option>
							<option value="789">Берковецька</option>
							<option value="875">Берлинського Максима</option>
							<option value="423">Берлінського Максима</option>
							<option value="212">Бессарабська</option>
							<option value="599">Бестужева Олександра</option>
							<option value="876">Бехтеревський</option>
							<option value="437">Бехтерєвський</option>
							<option value="932">Горської Алли / Бєлiнського Чеслава</option>
							<option value="798">Горської Алли / Бєлінського Чеслава</option>
							<option value="606">Биківський</option>
							<option value="512">Бикова</option>
							<option value="193">Бишівський</option>
							<option value="732">Білгородська</option>
							<option value="729">Білецького академіка</option>
							<option value="768">Білицька</option>
							<option value="549">Біличанська</option>
							<option value="342">Білокур Катерини</option>
							<option value="475">Білоруська</option>
							<option value="979">Турчина Ігоря / Блюхера</option>
							<option value="855">Блюхера</option>
							<option value="937">Турчина Ігоря / Блюхера Василя</option>
							<option value="11">Блюхера Василя</option>
							<option value="821">Богатирська</option>
							<option value="639">Богданівська</option>
							<option value="368">Богомольця академіка</option>
							<option value="161">Малевича Казимира / Боженка</option>
							<option value="189">Бойченка Олександра</option>
							<option value="128">Бондарська</option>
							<option value="754">Бондарський</option>
							<option value="505">Бориславська</option>
							<option value="1003">Борисоглiбська</option>
							<option value="638">Борисоглібська</option>
							<option value="109">Бориспільска</option>
							<option value="856">Бориспільська</option>
							<option value="569">Бориспільське</option>
							<option value="607">Боричів</option>
							<option value="733">Боричів Тік</option>
							<option value="833">Боровиковського</option>
							<option value="865">Борщагiвська</option>
							<option value="81">Борщагівська</option>
							<option value="507">Боткіна</option>
							<option value="190">Братиславська</option>
							<option value="651">Братська</option>
							<option value="139">Брест-Литовський</option>
							<option value="781">Броварський</option>
							<option value="590">Брюллова</option>
							<option value="42">Маричанська / Бубнова Андрія</option>
							<option value="260">Бударіна</option>
							<option value="112">Будищанська</option>
							<option value="191">Будівельників</option>
							<option value="56">Булаховського академіка</option>
							<option value="15">Булгакова</option>
							<option value="988">Бульварно-Кудрявська</option>
							<option value="43">Бурмистенка</option>
							<option value="362">Буслівська</option>
							<option value="1013">Бутишев</option>
							<option value="348">провул. Бутишев / Бутишев</option>
							<option value="192">Бучми Амвросія</option>
							<option value="877">Вавилових</option>
							<option value="247">Вавілових</option>
							<option value="259">Валківська</option>
							<option value="275">Василевської Ванди</option>
							<option value="499">Василенка Миколи</option>
							<option value="44">Васильківська</option>
							<option value="150">Васильченка</option>
							<option value="194">Ватутіна Генерала</option>
							<option value="157">Введенська</option>
							<option value="878">Велика Василькiвська</option>
							<option value="986">Велика Васильківська</option>
							<option value="300">Велика Васильківська / Велика Васильківська</option>
							<option value="179">Велика Житомирська</option>
							<option value="527">Велика Китаївська</option>
							<option value="74">Вербицького Архітектора</option>
							<option value="615">Верболозна</option>
							<option value="85">Вереснева</option>
							<option value="201">Вернадського академіка</option>
							<option value="443">Верхній Вал</option>
							<option value="136">Верховинна</option>
							<option value="199">Верховинця Василя</option>
							<option value="196">Верховної Ради</option>
							<option value="195">Вершигори Петра</option>
							<option value="647">Назарівська / Вєтрова</option>
							<option value="82">Виборзька</option>
							<option value="113">Вигурівський</option>
							<option value="1000">Винниченка Володимира</option>
							<option value="216">Виноградний</option>
							<option value="114">Висоцького Володимира</option>
							<option value="337">Вишгородська</option>
							<option value="398">Вишні Остапа</option>
							<option value="177">Вишняківська</option>
							<option value="595">Відпочинку</option>
							<option value="53">Відрадний</option>
							<option value="933">Військовий</option>
							<option value="197">Вільде Едуарда</option>
							<option value="778">Вінницька</option>
							<option value="142">Вірменська</option>
							<option value="269">Вітрука Генерала</option>
							<option value="591">Вітряні Гори</option>
							<option value="32">Вітчизняна</option>
							<option value="584">Воздвиженська</option>
							<option value="198">Возз&#39;єднання</option>
							<option value="991">Вознесенський</option>
							<option value="86">Волго-Донська</option>
							<option value="87">Волго-Донський</option>
							<option value="250">Волгоградська</option>
							<option value="31">Волжзька</option>
							<option value="623">Волинська</option>
							<option value="54">Волкова космонавта</option>
							<option value="665">Володимиро-Либідська</option>
							<option value="101">Володимирська</option>
							<option value="592">Волоська</option>
							<option value="563">Волховська</option>
							<option value="438">Бульварно-Кудрявська / Воровського</option>
							<option value="204">Воскресенська</option>
							<option value="805">Восьмого Березня</option>
							<option value="636">Вузівська</option>
							<option value="973">Йорданська / Гавро Лайоша</option>
							<option value="815">Гавро Лайоша</option>
							<option value="205">Гагарiна Юрiя</option>
							<option value="845">Гагаріна Юрія</option>
							<option value="820">Гайдай Зої</option>
							<option value="351">пров. Хрестовий / Гайцана Миколи</option>
							<option value="531">Галана Ярослава</option>
							<option value="133">Галицька</option>
							<option value="938">Квітки Цісик / Гамарника</option>
							<option value="20">Гамарника</option>
							<option value="544">Гаріна Бориса</option>
							<option value="178">Гарматна</option>
							<option value="879">Георгiївський</option>
							<option value="734">Георгіївський</option>
							<option value="631">Геофізиків</option>
							<option value="822">Героїв Дніпра</option>
							<option value="200">Героїв космосу</option>
							<option value="170">Героїв оборони</option>
							<option value="434">Героїв Севастополя</option>
							<option value="788">Героїв Сталінграда</option>
							<option value="702">Герцена</option>
							<option value="560">Гетьмана Вадима</option>
							<option value="880">Глiбова</option>
							<option value="375">Глазунова</option>
							<option value="483">Глібова</option>
							<option value="624">Глінки</option>
							<option value="147">Глушкова академіка</option>
							<option value="513">Гмирі</option>
							<option value="926">Гмирі Бориса</option>
							<option value="853">Гната Юри</option>
							<option value="881">Гоголiвська</option>
							<option value="510">Гоголівська</option>
							<option value="435">Головка Андрія</option>
							<option value="174">Голосіївська</option>
							<option value="504">Гомельська</option>
							<option value="66">Гонгадзе Георгія</option>
							<option value="775">Гонти</option>
							<option value="882">Гонти Iвана</option>
							<option value="120">Гончара Олеся</option>
							<option value="698">Гончарова</option>
							<option value="949">Ґалаґанівська / Горбачова Омеляна</option>
							<option value="270">Горбачова Омеляна</option>
							<option value="1011">Гордієнка Кості</option>
							<option value="223">Кості Гордієнка / Гордієнка Кості</option>
							<option value="514">Горлівська</option>
							<option value="696">Горовиця Олександра</option>
							<option value="352">Городецького архітектора</option>
							<option value="697">Городня</option>
							<option value="1002">Горської Алли</option>
							<option value="104">Антоновича / Горького</option>
							<option value="793">Горького</option>
							<option value="379">Госпітальна</option>
							<option value="883">Грiнченка Бориса</option>
							<option value="64">Градинська</option>
							<option value="884">Грекова Академiка</option>
							<option value="479">Грекова Академіка</option>
							<option value="89">Гречка маршала</option>
							<option value="49">Григоренка Петра</option>
							<option value="251">Григоровича-Барського</option>
							<option value="468">Грінченка Бориса</option>
							<option value="206">Гродненська</option>
							<option value="557">Грозненська</option>
							<option value="315">Грушевського Михайла</option>
							<option value="389">Гусовського</option>
							<option value="947">Шамо Ігоря / Давидова Олексія</option>
							<option value="207">Давидова Олексія</option>
							<option value="8">Далека</option>
							<option value="506">Данькевича Костянтина</option>
							<option value="383">Дарвіна</option>
							<option value="202">Дарницький</option>
							<option value="693">Дашавська</option>
							<option value="208">Двінська</option>
							<option value="24">Дев&#39;ятого Травня</option>
							<option value="885">Дегтярiвська</option>
							<option value="408">Дегтярівська</option>
							<option value="759">Дежньова</option>
							<option value="126">Декабристів</option>
							<option value="409">Делегатський</option>
							<option value="78">Деміївська</option>
							<option value="79">Деміївський</option>
							<option value="273">Депутатська</option>
							<option value="993">Деревлянська</option>
							<option value="801">Деснянська</option>
							<option value="654">Десятинна</option>
							<option value="621">Десятинний</option>
							<option value="808">Джерельна</option>
							<option value="807">Джерельний</option>
							<option value="145">Ділова / Димитрова</option>
							<option value="1012">Ділова</option>
							<option value="298">Ділова / Ділова</option>
							<option value="886">Дмитрiвська</option>
							<option value="288">Дмитрівська</option>
							<option value="806">Дніпроводська</option>
							<option value="209">Дніпровська</option>
							<option value="127">Дніпродзержинська</option>
							<option value="782">Дністровська</option>
							<option value="19">Добрий Шлях</option>
							<option value="274">Доброхотова академіка</option>
							<option value="887">Довженка</option>
							<option value="115">Довженка Олександра</option>
							<option value="653">Довнар-Запольського Митрофана / Довнар-Запольського</option>
							<option value="567">Кармелюка Устима</option>
							<option value="994">Довнар-Запольського Митрофана</option>
							<option value="9">Докучаєвська</option>
							<option value="433">Донецька</option>
							<option value="459">Донця Михайла</option>
							<option value="588">Дончука Василя</option>
							<option value="692">Дорогожицька</option>
							<option value="50">Драгоманова</option>
							<option value="378">Драгомирова</option>
							<option value="111">Драйзера Теодора</option>
							<option value="361">Дружби Народів</option>
							<option value="817">Оболонська / Дружби Народів</option>
							<option value="777">Дружківська</option>
							<option value="171">Дубініна Володі</option>
							<option value="946">Тороповського Георгія / Дубового Івана</option>
							<option value="203">Дубового Івана</option>
							<option value="825">Дубровицька</option>
							<option value="997">Дудника Георгія</option>
							<option value="964">Вишиваного Василя / Дундича Олеко</option>
							<option value="644">Дундича Олеко</option>
							<option value="321">Дяченка</option>
							<option value="33">Електриків</option>
							<option value="868">Електротехнічна</option>
							<option value="210">Ентузіастів</option>
							<option value="350">Еспланадна</option>
							<option value="289">Естонська</option>
							<option value="543">Єреванська</option>
							<option value="477">Желябова</option>
							<option value="14">Жилянська</option>
							<option value="625">Житкова Бориса</option>
							<option value="770">Житньоторзька</option>
							<option value="227">Жмаченка Генерала</option>
							<option value="663">Жмеринська</option>
							<option value="547">Жолудєва</option>
							<option value="138">Жукова маршала</option>
							<option value="616">Жуковського Василя</option>
							<option value="667">Забіли Віктора</option>
							<option value="146">Заболотного академіка</option>
							<option value="718">Задорожний</option>
							<option value="80">Закревського Миколи</option>
							<option value="384">Залізничне</option>
							<option value="559">Заломова Петра</option>
							<option value="769">Замковецький</option>
							<option value="393">Заньковецької Марії</option>
							<option value="752">Западинська</option>
							<option value="225">Запорожця Петра</option>
							<option value="331">Заслонова Костянтина</option>
							<option value="757">Затєвахіна</option>
							<option value="1004">Захарiвська</option>
							<option value="234">Захарівська</option>
							<option value="658">Західна</option>
							<option value="347">Звіринецька</option>
							<option value="159">Здолбунівська</option>
							<option value="643">Зелінського академіка</option>
							<option value="325">Златопільська</option>
							<option value="888">Златоустiвська</option>
							<option value="448">Златоустівська</option>
							<option value="334">Зодчих</option>
							<option value="889">Золотоворiтська</option>
							<option value="449">Золотоворітська</option>
							<option value="783">Золочівського</option>
							<option value="246">Зоологічна</option>
							<option value="601">Зрошувальна</option>
							<option value="841">провул. Бутишев / Іванова Андрія</option>
							<option value="828">Івашкевича Ярослава</option>
							<option value="603">Ігоревська</option>
							<option value="578">Іллінська</option>
							<option value="952">Пасхаліна Юрія / Ілліча</option>
							<option value="336">Ілліча</option>
							<option value="401">Інженерний</option>
							<option value="346">Інститутська</option>
							<option value="1010">Іпсилантієвський</option>
							<option value="492">Ірининська</option>
							<option value="55">Ірпінська</option>
							<option value="493">Ісаакяна</option>
							<option value="689">Іскрівська</option>
							<option value="678">Іскрівська/Міцкевича Адама</option>
							<option value="327">Їжакевича Івана</option>
							<option value="687">Каблукова академіка</option>
							<option value="542">Кавказька</option>
							<option value="526">Кадетський гай</option>
							<option value="830">Казанська</option>
							<option value="228">Калачівська</option>
							<option value="800">Калинова</option>
							<option value="659">Гладківська / Калінінградська</option>
							<option value="957">Болбочана Петра / Каменєва командарма</option>
							<option value="500">Каменєва командарма</option>
							<option value="211">Карбишева Генерала</option>
							<option value="420">Кулібіна</option>
							<option value="657">Карпинського Академіка</option>
							<option value="335">Покотила Володимира / Картвелішвілі</option>
							<option value="162">Касіяна Василя</option>
							<option value="226">Каунаська</option>
							<option value="982">Каховська</option>
							<option value="244">Каштанова</option>
							<option value="27">Квітки-Основяненка</option>
							<option value="76">Квітневий</option>
							<option value="561">Керамічний</option>
							<option value="620">Керченська</option>
							<option value="52">Кибальчича Миколи</option>
							<option value="984">Кирилівська</option>
							<option value="890">Кирило-Мефодiївська</option>
							<option value="706">Кирило-Мефодіївська</option>
							<option value="650">Кирпоноса</option>
							<option value="35">Китаївська</option>
							<option value="291">Кіквідзе</option>
							<option value="338">Кільцева</option>
							<option value="784">Кінцева</option>
							<option value="51">Кіото</option>
							<option value="744">Кіпріанова Академіка</option>
							<option value="404">Клавдіївська</option>
							<option value="326">Преображенська / Клименка Івана</option>
							<option value="927">Клименка Івана</option>
							<option value="222">Кловський</option>
							<option value="154">Княжий Затон</option>
							<option value="432">Ковальський</option>
							<option value="502">Ковельська</option>
							<option value="397">Ковпака</option>
							<option value="632">Козацька</option>
							<option value="688">Козицького Пилипа</option>
							<option value="392">Козловського Івана</option>
							<option value="530">Коласа Якуба</option>
							<option value="728">Колекторна</option>
							<option value="168">Коломийський</option>
							<option value="444">Кольцова</option>
							<option value="852">Болбочана Петра / Командарма Каменєва</option>
							<option value="58">Комарова космонавта</option>
							<option value="585">Петлюри Симона / Комінтерну</option>
							<option value="803">Кондратюка Юрія</option>
							<option value="1015">Коновальця Євгена</option>
							<option value="600">Контрактова</option>
							<option value="550">Коперника</option>
							<option value="387">Копиленка Олександра</option>
							<option value="155">Копилівська</option>
							<option value="532">Корольова академіка</option>
							<option value="25">Коростенська</option>
							<option value="610">Корсуньська</option>
							<option value="236">Космічна</option>
							<option value="476">Космодемянської Зої</option>
							<option value="156">Костянтинівська</option>
							<option value="708">Костьольна</option>
							<option value="985">Котарбінського Вільгельма</option>
							<option value="522">Котельникова Михайла</option>
							<option value="490">Котовського</option>
							<option value="40">Коцюбинського Михайла</option>
							<option value="931">Винниченка Володимира / Коцюбинського Юрiя</option>
							<option value="797">Винниченка Володимира / Коцюбинського Юрія</option>
							<option value="47">Кошиця Олександра</option>
							<option value="764">Кошового</option>
							<option value="951">Котарбінського Вільгельма / Кравченка Миколи</option>
							<option value="305">Кравченка Миколи</option>
							<option value="245">Краківська</option>
							<option value="612">Крамського Івана</option>
							<option value="956">Проценко Людмили / Красикова Петра</option>
							<option value="431">Красикова Петра</option>
							<option value="95">Красилівська</option>
							<option value="34">Красицького</option>
							<option value="552">Краснова Миколи</option>
							<option value="458">Краснодарська</option>
							<option value="593">Кременецький</option>
							<option value="322">Кривоноса Максима</option>
							<option value="611">Кричевського Федора</option>
							<option value="312">Кріпосний</option>
							<option value="573">Кронштадтська</option>
							<option value="318">Кропивницького</option>
							<option value="292">Круглоуніверситетська</option>
							<option value="792">Чубинського Павла / Крупської</option>
							<option value="381">Крутий</option>
							<option value="501">Крушельницької Соломії</option>
							<option value="297">Кудрі Івана</option>
							<option value="413">Кудрявська</option>
							<option value="456">Кудрявський</option>
							<option value="323">Кудряшова</option>
							<option value="523">Курбаса Леся</option>
							<option value="399">Курганівська</option>
							<option value="835">Куренівський</option>
							<option value="41">Курнатовського</option>
							<option value="809">Курортна</option>
							<option value="324">Курська</option>
							<option value="254">Курчатова</option>
							<option value="850">Курчатова академіка</option>
							<option value="96">Кустанайська</option>
							<option value="1006">Алмазова генерала / Кутузова</option>
							<option value="1008">Гуцала Євгена / Кутузова</option>
							<option value="217">Кутузова</option>
							<option value="740">Кучера Василя</option>
							<option value="160">Лабораторна</option>
							<option value="369">Лабораторний</option>
							<option value="213">Лаврська</option>
							<option value="541">Лаврухіна</option>
							<option value="455">Лагерна</option>
							<option value="948">Бородіна інженера / Лазо Сергія</option>
							<option value="265">Лазо Сергія</option>
							<option value="953">Ковніра Степана / Ластовського</option>
							<option value="388">Ластовського</option>
							<option value="36">Лебедєва академіка</option>
							<option value="568">Лебедєва Миколи</option>
							<option value="411">Лебедєва-Кумача</option>
							<option value="859">Лебединська</option>
							<option value="1014">Левандовська</option>
							<option value="349">Левандовська / Левандовська</option>
							<option value="407">Леванєвського</option>
							<option value="785">Левицького</option>
							<option value="365">Лейпцигська</option>
							<option value="934">Харченка Євгенія / Леніна</option>
							<option value="963">Колоса Сергія / Леніна</option>
							<option value="981">Радосинська / Леніна</option>
							<option value="2">Леніна</option>
							<option value="287">Леонтовича</option>
							<option value="129">Лепсе Івана</option>
							<option value="668">Лермонтівська</option>
							<option value="891">Лермонтовська</option>
							<option value="341">Лєскова</option>
							<option value="1001">Липинського В&#39;ячеслава</option>
							<option value="353">Липська</option>
							<option value="380">Липський</option>
							<option value="306">Лисенка</option>
							<option value="424">Лисичанська</option>
							<option value="576">Лисогірська</option>
							<option value="765">Листопадна</option>
							<option value="673">Литвиненко-Вольгемут</option>
							<option value="329">Лісківська</option>
							<option value="812">Лісна</option>
							<option value="253">Лісовий</option>
							<option value="766">Лісозахисна</option>
							<option value="266">Літинська</option>
							<option value="264">Лобачевського</option>
							<option value="97">Ломоносова</option>
							<option value="892">Лук&#39;янiвська</option>
							<option value="735">Лук&#39;янівська</option>
							<option value="691">Огієнка Івана / Лукашевича Миколи</option>
							<option value="295">Лумумби Патріса</option>
							<option value="941">Шептицького Андрея Митрополита / Луначарського Анатолія</option>
							<option value="123">Луначарського Анатолія</option>
							<option value="176">Луценка Дмитра</option>
							<option value="317">Лютеранська</option>
							<option value="163">Лятошинського композитора</option>
							<option value="539">Львівська</option>
							<option value="355">Мазепи Івана</option>
							<option value="710">Майбороди</option>
							<option value="893">Майбороди Платона</option>
							<option value="609">Майкопська</option>
							<option value="976">Калнишевського Петра / Майорова Михайла</option>
							<option value="840">Майорова Михайла</option>
							<option value="633">Макаренка</option>
							<option value="714">Макарівська</option>
							<option value="834">Макіївська</option>
							<option value="286">Мала Житомирська</option>
							<option value="818">Малиновського маршала</option>
							<option value="242">Малишка Андрія</option>
							<option value="175">Малокитаївська</option>
							<option value="894">Малопiдвальна</option>
							<option value="629">Малопідвальна</option>
							<option value="895">Мануїльського</option>
							<option value="221">Мар&#39;яненка Івана</option>
							<option value="577">Марганецька</option>
							<option value="436">Мартиросяна</option>
							<option value="974">Архипенка Олександра / Мате Залки</option>
							<option value="816">Мате Залки</option>
							<option value="84">Матеюка</option>
							<option value="846">Матеюка Миколи</option>
							<option value="1">Матикіна генерала</option>
							<option value="473">Машинобудівна</option>
							<option value="474">Машинобудівний</option>
							<option value="83">Маяковського Володимира</option>
							<option value="786">Медова</option>
							<option value="320">Межигірська</option>
							<option value="132">Межова</option>
							<option value="90">Межовий</option>
							<option value="418">Мельникова</option>
							<option value="395">Менделеєва</option>
							<option value="439">Металістів</option>
							<option value="690">Метробудівська</option>
							<option value="151">Метрологічна</option>
							<option value="220">Мечникова</option>
							<option value="262">Микитенка Івана</option>
							<option value="105">Микільсько-Ботанічна</option>
							<option value="738">Микільсько-Слобідська</option>
							<option value="233">Милославська</option>
							<option value="961">Нестайка Всеволода / Мильчакова Олександра</option>
							<option value="534">Мильчакова Олександра</option>
							<option value="345">Мирного Панаса</option>
							<option value="238">Миропільська</option>
							<option value="681">Миру</option>
							<option value="761">Мистецька</option>
							<option value="896">Михайлiвська</option>
							<option value="897">Михайлiвський</option>
							<option value="425">Михайлівська</option>
							<option value="302">Михайлівський</option>
							<option value="546">Мишуги Олександра</option>
							<option value="243">Мілютенка</option>
							<option value="582">Мініна</option>
							<option value="802">Мінський</option>
							<option value="813">Міська</option>
							<option value="721">Міцкевича Адама</option>
							<option value="965">Ідзиковських сім&#39;ї / Мішина Михайла</option>
							<option value="645">Мішина Михайла</option>
							<option value="496">Молдавська</option>
							<option value="471">Молодогвардійська</option>
							<option value="12">Монтажників</option>
							<option value="344">Московська</option>
							<option value="1009">Бандери Степана / Московський</option>
							<option value="862">Московський</option>
							<option value="110">Мостицька</option>
							<option value="230">Моторний</option>
							<option value="358">Музейний</option>
							<option value="829">Мукачівська</option>
							<option value="470">Мурашка Миколи</option>
							<option value="715">Муромська</option>
							<option value="144">Набережно-Корчуватська</option>
							<option value="670">Набережно-Лугова</option>
							<option value="88">Набережно-Хрещатицька</option>
							<option value="838">Навашина Академіка</option>
							<option value="258">Навої Алішера</option>
							<option value="414">Нагірна</option>
							<option value="494">Нагірний</option>
							<option value="990">Назарівська</option>
							<option value="486">Народного Ополчення</option>
							<option value="4">Науки</option>
							<option value="57">Наумова генерала</option>
							<option value="717">Невська</option>
							<option value="648">Некрасовська</option>
							<option value="367">Немировича-Данченка</option>
							<option value="898">Несторiвський</option>
							<option value="630">Несторівський</option>
							<option value="779">Неходи Івана</option>
							<option value="597">Нижній Вал</option>
							<option value="608">Нижньоюрківська</option>
							<option value="405">Ніжинська</option>
							<option value="237">Ніколаєва архітектора</option>
							<option value="26">Нікопольська</option>
							<option value="363">Німанська</option>
							<option value="488">Ніщинського Петра</option>
							<option value="664">Нова</option>
							<option value="239">Новаторів</option>
							<option value="487">Новгородська</option>
							<option value="810">Новикова-Прибоя</option>
							<option value="587">Нововокзальна</option>
							<option value="1016">Новогоспітальна</option>
							<option value="330">Новодарницька</option>
							<option value="722">Новокостянтинівська</option>
							<option value="739">Новомостицька</option>
							<option value="143">Новопирогівська</option>
							<option value="482">Новопольова</option>
							<option value="843">Новоросійська</option>
							<option value="497">Новоукраїнська</option>
							<option value="579">Оболонська</option>
							<option value="819">Оболонський</option>
							<option value="285">Обсерваторна</option>
							<option value="461">Овруцька</option>
							<option value="748">Озерна</option>
							<option value="753">Окіпної Раїси</option>
							<option value="428">Олегівська</option>
							<option value="899">Олександрiвська</option>
							<option value="451">Олександрівська</option>
							<option value="485">Олексіївська</option>
							<option value="669">Оленівська</option>
							<option value="511">Олійника</option>
							<option value="758">Ольгинська</option>
							<option value="694">Ольжича</option>
							<option value="637">Онискевича Григорія</option>
							<option value="849">Оноре де Бальзака</option>
							<option value="366">Орлика Пилипа</option>
							<option value="426">Орловська</option>
							<option value="767">Орська</option>
							<option value="618">Освіти</option>
							<option value="68">Осиповського</option>
							<option value="954">Хомова Ярослава / Островського Миколи</option>
							<option value="955">Скрипника Мстислава Патріарха / Островського Миколи</option>
							<option value="421">Островського Миколи</option>
							<option value="484">Очаківська</option>
							<option value="586">Очаківський</option>
							<option value="900">Пiдгiрна</option>
							<option value="901">Пiка Вiльгельма</option>
							<option value="902">Павлiвська</option>
							<option value="460">Павлівська</option>
							<option value="268">Палладіна академіка</option>
							<option value="575">Панорамна</option>
							<option value="565">Пантелькіна Анатолія</option>
							<option value="836">Панча Петра</option>
							<option value="106">Паньківська</option>
							<option value="774">Паркова</option>
							<option value="661">Паторжинського</option>
							<option value="747">Патріотів</option>
							<option value="356">Первомайського Леоніда</option>
							<option value="311" selected="selected">Перемоги</option>
							<option value="240">Перова</option>
							<option value="903">Петлюри Симона</option>
							<option value="863">Петра Панча</option>
							<option value="537">Петрицького Анатолія</option>
							<option value="968">Світличного Івана / Петровського</option>
							<option value="701">Петровського</option>
							<option value="402">Петропавлівська</option>
							<option value="904">Печенiзька</option>
							<option value="412">Печенізька</option>
							<option value="314">Печерський</option>
							<option value="464">Пимоненка Миколи</option>
							<option value="619">Пирогова</option>
							<option value="328">Пироговського Олександра</option>
							<option value="824">Північна</option>
							<option value="343">Підвисоцького професора</option>
							<option value="554">Підгірна</option>
							<option value="699">Піддубного Івана</option>
							<option value="551">Підлісна</option>
							<option value="967">Ружинська / Піка Вільгельма</option>
							<option value="695">Піка Вільгельма</option>
							<option value="700">Пітерська</option>
							<option value="249">Плеханова</option>
							<option value="166">Плещеєва</option>
							<option value="121">Повітрофлотський</option>
							<option value="555">Подвойського</option>
							<option value="528">Пожарського</option>
							<option value="605">Покровська</option>
							<option value="905">Полiтехнiчний</option>
							<option value="130">Поліська</option>
							<option value="602">Поліський</option>
							<option value="854">Політехнічна</option>
							<option value="682">Політехнічний</option>
							<option value="403">Полкова</option>
							<option value="745">Полковий</option>
							<option value="304">Половецька</option>
							<option value="660">Полтавська</option>
							<option value="975">Пріорська / Полупанова</option>
							<option value="831">Полупанова</option>
							<option value="839">Полярна</option>
							<option value="656">Польовий</option>
							<option value="16">Попова</option>
							<option value="581">Попудренка</option>
							<option value="75">Порика Василя</option>
							<option value="776">Пост-Волинська</option>
							<option value="277">Потапова генерала</option>
							<option value="17">Потебні академіка</option>
							<option value="172">Потєхіна полковника</option>
							<option value="683">Потьє  Ежена</option>
							<option value="604">Почайнинська</option>
							<option value="93">Правди</option>
							<option value="382">Правобережна</option>
							<option value="255">Празька</option>
							<option value="257">Праці</option>
							<option value="296">Предславинська</option>
							<option value="131">Привокзальна</option>
							<option value="370">Приймаченко Марії</option>
							<option value="857">Приколійна</option>
							<option value="533">Приладний</option>
							<option value="508">Прилужна</option>
							<option value="958">Глієра Рейнгольда / Примакова</option>
							<option value="503">Примакова</option>
							<option value="814">Приозерна</option>
							<option value="823">Прирічна</option>
							<option value="640">Притисько-Микільська</option>
							<option value="996">Провіантська</option>
							<option value="755">Промислова</option>
							<option value="180">Прорізна</option>
							<option value="281">Пугачова</option>
							<option value="524">Пулюя Івана</option>
							<option value="263">Путивльська</option>
							<option value="545">Пушиної Феодори</option>
							<option value="906">Пушкiнська</option>
							<option value="181">Пушкінська</option>
							<option value="983">Радгосп Совки</option>
							<option value="3">Радистів</option>
							<option value="229">Радунська</option>
							<option value="119">Радченка Петра</option>
							<option value="371">Раєвського Миколи</option>
							<option value="23">Райгородська</option>
							<option value="241">Райдужна</option>
							<option value="760">Райніса Яна</option>
							<option value="574">Ракетна</option>
							<option value="261">Сверстюка Євгена / Раскової Марини</option>
							<option value="48">Ревуцького</option>
							<option value="441">Рейтарська</option>
							<option value="445">Рибалка маршала</option>
							<option value="313">Рибальська</option>
							<option value="280">Ризька</option>
							<option value="950">Курінного Петра / Рикова комісара</option>
							<option value="978">Куріного Петра / Рикова комісара</option>
							<option value="278">Рикова комісара</option>
							<option value="737">Рилєєва</option>
							<option value="440">Рильський</option>
							<option value="219">Різницька</option>
							<option value="293">Рогнідинська</option>
							<option value="538">Рогозівська</option>
							<option value="173">Родимцева генерала</option>
							<option value="626">Роздільна</option>
							<option value="860">Рокосовського маршала</option>
							<option value="804">Рокоссовського маршала</option>
							<option value="339">Роллана Ромена</option>
							<option value="122">Російська</option>
							<option value="279">Руданського  Степана</option>
							<option value="153">Руденко Лариси</option>
							<option value="940">Шевельова Юрія / Руднєва</option>
							<option value="942">Качуровського Ігоря / Руднєва</option>
							<option value="71">Руднєва</option>
							<option value="995">Ружинська / Ружинська</option>
							<option value="736">Русанівська</option>
							<option value="135">Русанівський</option>
							<option value="319">Руставелі Шота</option>
							<option value="231">Сабурова Олександра</option>
							<option value="598">Сагайдачного Петра</option>
							<option value="102">Саксаганського</option>
							<option value="417">Салютна</option>
							<option value="67">Санаторна</option>
							<option value="372">Саперне Поле</option>
							<option value="707">Саратовська</option>
							<option value="723">Світла</option>
							<option value="140">Світлицького</option>
							<option value="94">Свободи</option>
							<option value="655">Святославська</option>
							<option value="562">Святошинська</option>
							<option value="518">Святошинський</option>
							<option value="124">Севастопольська</option>
							<option value="517">Семашка</option>
							<option value="480">Семенівська</option>
							<option value="943">Миколайчука Івана / Серафимовича</option>
							<option value="137">Серафимовича</option>
							<option value="271">Сергiєнка Iвана</option>
							<option value="977">Миколайчука Івана / Серефимовича</option>
							<option value="844">Серефимовича</option>
							<option value="29">Серпова</option>
							<option value="272">Сєрова Валентина</option>
							<option value="672">Сєченова</option>
							<option value="116">Симиренка</option>
							<option value="676">Синьоозерна</option>
							<option value="22">Сирецька</option>
							<option value="7">Сільська</option>
							<option value="333">Сімферопольська</option>
							<option value="771">Сірка Івана</option>
							<option value="218">Микильський / Січневий</option>
							<option value="998">Січових Стрільців</option>
							<option value="571">Сковороди Григорія</option>
							<option value="118">Славгородська</option>
							<option value="930">Слов&#39;&#39;янська</option>
							<option value="481">Слов&#39;янська</option>
							<option value="907">Смирнова-Ласточкiна</option>
							<option value="430">Шевченка Тараса</option>
							<option value="489">узвіз Вознесенський / Смирнова-Ласточкіна</option>
							<option value="61">Смілянська</option>
							<option value="652">Смоленська</option>
							<option value="164">Смолича Юрія</option>
							<option value="832">Сокальська</option>
							<option value="377">Соловцова Миколи</option>
							<option value="929">Солом&#39;&#39;янська</option>
							<option value="450">Солом&#39;янська</option>
							<option value="724">Сормовська</option>
							<option value="756">Сортувальна</option>
							<option value="535">Сосницька</option>
							<option value="674">Сосніних сім&#39;ї</option>
							<option value="134">Сосюри</option>
							<option value="908">Софiївська</option>
							<option value="310">Софіївська</option>
							<option value="13">Соціалістична</option>
							<option value="37">Сошенка</option>
							<option value="572">Спаська</option>
							<option value="45">Срібнокільська</option>
							<option value="709">Ставропольська</option>
							<option value="59">Стадіонна</option>
							<option value="252">Стальського Сулеймана</option>
							<option value="935">Станіславського</option>
							<option value="628">Старовокзальна</option>
							<option value="452">Старокиївська</option>
							<option value="453">Старокиївський</option>
							<option value="400">Старонаводницька</option>
							<option value="727">Старосільська</option>
							<option value="98">Стельмаха Михайла</option>
							<option value="594">Степанченка Василя</option>
							<option value="454">Стеценка</option>
							<option value="909">Стрiлецька</option>
							<option value="910">Стрiтенська</option>
							<option value="705">Стражеска академіка</option>
							<option value="183">Стратегічне</option>
							<option value="613">Стрийська</option>
							<option value="649">Стрілецька</option>
							<option value="646">Стрітенська</option>
							<option value="960">Стешенків сім&#39;ї / Строкача Тимофія</option>
							<option value="529">Строкача Тимофія</option>
							<option value="308">Студентська</option>
							<option value="516">Стуса Василя</option>
							<option value="1007">Омеляновича-Павленка Михайла / Суворова</option>
							<option value="357">Суворова</option>
							<option value="627">Сурікова Василя</option>
							<option value="39">Сухумська</option>
							<option value="680">Тампере</option>
							<option value="749">Авіаконструктора Ігоря Сікорського / Танкова</option>
							<option value="103">Тарасівська</option>
							<option value="309">Татарська</option>
							<option value="556">Татарський</option>
							<option value="457">Тбіліський</option>
							<option value="394">Тверська</option>
							<option value="373">Тверський</option>
							<option value="911">Телiги Олени</option>
							<option value="141">Теліги Олени</option>
							<option value="671">Німецька / Тельмана</option>
							<option value="866">Теодора Драйзера</option>
							<option value="149">Теремківська</option>
							<option value="469">Терещенківська</option>
							<option value="675">Тернопільська</option>
							<option value="290">Терьохіна Олексія</option>
							<option value="712">Тешебаєва</option>
							<option value="385">Тимірязєвська</option>
							<option value="912">Провіантська / Тимофєєвої Галi</option>
							<option value="713">Провіантська / Тимофєєвої Галі</option>
							<option value="787">Тимошенка маршала</option>
							<option value="622">Тираспільська</option>
							<option value="762">Тихорецька</option>
							<option value="158">Тичини Павла</option>
							<option value="913">Толбухiна</option>
							<option value="429">Толбухіна</option>
							<option value="107">Толстого Льва</option>
							<option value="704">Тополева</option>
							<option value="589">Травнева</option>
							<option value="914">Тропiнiна</option>
							<option value="751">Тропініна</option>
							<option value="91">Тростянецька</option>
							<option value="750">Трудова</option>
							<option value="944">Максимовича Михайла / Трутенка Онуфрія</option>
							<option value="169">Трутенка Онуфрія</option>
							<option value="711">Трьохсвятительська</option>
							<option value="117">Тулузи</option>
							<option value="720">Тульчинська</option>
							<option value="558">Тупикова генерала</option>
							<option value="677">Туполєва академіка</option>
							<option value="307">Тургенєвська</option>
							<option value="719">Турівська</option>
							<option value="987">Турчина Ігоря</option>
							<option value="971">Драй-Хмари Михайла / Тухачевського</option>
							<option value="746">Тухачевського</option>
							<option value="959">Єфремова академіка / Уборевича командарма</option>
							<option value="520">Уборевича командарма</option>
							<option value="235">Ужвій Наталії</option>
							<option value="215">Українки Лесі</option>
							<option value="498">Українська</option>
							<option value="679">Уманська</option>
							<option value="410">Липківського Василя Митрополита / Урицького</option>
							<option value="928">Урицького</option>
							<option value="46">Урлівська</option>
							<option value="570">Урожайна</option>
							<option value="915">Уссурiйська</option>
							<option value="916">Уссурiйський</option>
							<option value="466">Уссурійська</option>
							<option value="467">Уссурійський</option>
							<option value="519">Ушакова Миколи</option>
							<option value="422">Ушинського</option>
							<option value="299">Федорова Івана</option>
							<option value="70">Феодосійська</option>
							<option value="360">Філатова Академіка</option>
							<option value="283">Флоренції</option>
							<option value="917">Франка Iвана</option>
							<option value="303">Франка Івана</option>
							<option value="773">Фролівська</option>
							<option value="99">Фрометівська</option>
							<option value="152">Кирилівська / Фрунзе</option>
							<option value="540">Фучика Юліуса</option>
							<option value="73">Харківське</option>
							<option value="521">Хмельницька</option>
							<option value="301">Хмельницького Богдана</option>
							<option value="583">Хорива</option>
							<option value="267">Хорольська</option>
							<option value="635">Хорольський</option>
							<option value="763">Хотівська</option>
							<option value="495">Хохлових cім&#39;ї</option>
							<option value="918">Хохлових Сiм&#39;ї</option>
							<option value="224">Хрещатик</option>
							<option value="396">Царика Григорія</option>
							<option value="232">Цвєтаєвої</option>
							<option value="359">Цитадельна</option>
							<option value="21">Ціолковського</option>
							<option value="969">Дудника Георгія / Цюрупинська</option>
							<option value="716">Цюрупинська</option>
							<option value="741">Чаадаєва Петра</option>
							<option value="794">Липинського В&#39;ячеслава / Чапаєва</option>
							<option value="72">Челябінська</option>
							<option value="108">Велика Васильківська / Червоноармійська</option>
							<option value="858">Заплавна / Червоноармійська</option>
							<option value="962">Хоткевича Гната / Червоногвардійська</option>
							<option value="564">Червоногвардійська</option>
							<option value="419">Червонозаводська</option>
							<option value="614">Червонозаводський</option>
							<option value="100">Лобановського Валерія / Червонозоряний</option>
							<option value="939">Зерових братів / Червонопартизанська</option>
							<option value="60">Червонопартизанська</option>
							<option value="256">Червонопільська</option>
							<option value="167">Пирогівський шлях / Червонопрапорна</option>
							<option value="566">Червоноткацька</option>
							<option value="972">Максименка Федора / Червонофлотська</option>
							<option value="811">Червонофлотська</option>
							<option value="427">Черкаська</option>
							<option value="617">Чернігівська</option>
							<option value="462">Черняхівського</option>
							<option value="919">Черняховського</option>
							<option value="376">Чеська</option>
							<option value="463">Чеховський</option>
							<option value="780">Чигиринський</option>
							<option value="364">Чигоріна</option>
							<option value="548">Чистяківська</option>
							<option value="446">Чоколівський</option>
							<option value="515">Чорнобильська</option>
							<option value="62">Чорновола  Вячеслава</option>
							<option value="842">Чорновола В&#39;ячеслава</option>
							<option value="478">Чугуївський</option>
							<option value="970">Чупринки Григорія / Чудновського</option>
							<option value="730">Чудновського</option>
							<option value="703">Чумака Василя</option>
							<option value="725">Шалетт Міста</option>
							<option value="920">Шамрила Тимофiя</option>
							<option value="465">Шамрила Тимофія</option>
							<option value="684">Шевцова Івана</option>
							<option value="447">Шепелєва Миколи</option>
							<option value="790">Вифлеємська / Шліхтера Академіка</option>
							<option value="921">Шмiдта Отто</option>
							<option value="282">Шмідта Отто</option>
							<option value="294">Шовковична</option>
							<option value="491">Шовкуненка</option>
							<option value="248">Шолом-Алейхема</option>
							<option value="685">Шолуденка</option>
							<option value="686">Шпака Миколи</option>
							<option value="641">Шполянська</option>
							<option value="742">Шулявська</option>
							<option value="284">Шумського Юрія</option>
							<option value="642">Щекавицька</option>
							<option value="989">Щербаківського Данила</option>
							<option value="945">Щербаківського Данила / Щербакова</option>
							<option value="182">Щербакова</option>
							<option value="18">Щоглівський</option>
							<option value="795">Коновальця Євгена / Щорса</option>
							<option value="796">Новогоспітальна / Щорса</option>
							<option value="922">Щусєва Академiка</option>
							<option value="553">Щусєва Академіка</option>
							<option value="847">Юнкерова</option>
							<option value="861">Юнкерова Миколи</option>
							<option value="731">Юності</option>
							<option value="340">Юри Гната</option>
							<option value="864">Юрія Кондратюка</option>
							<option value="634">Юрківська</option>
							<option value="415">Яблонської Тетяни</option>
							<option value="28">Ягідна</option>
							<option value="923">Якiра</option>
							<option value="966">Деревлянська / Якіра</option>
							<option value="662">Якіра</option>
							<option value="165">Якубовського маршала</option>
							<option value="848">Якутська</option>
							<option value="77">Ялтинська</option>
							<option value="772">Ямська</option>
							<option value="148">Яна Василя</option>
							<option value="416">Янгеля академіка</option>
							<option value="924">Ярмоли Вiктора</option>
							<option value="743">Ярмоли Віктора</option>
							<option value="925">Ярославiв Вал</option>
							<option value="509">Ярослава Гашека</option>
							<option value="442">Ярославів Вал</option>
							<option value="580">Ярославська</option>
							<option value="596">Ясногірська</option>
						</select>
						<script type="text/javascript">
								$('.form-control1').css('width',$(".form-control").css("width"));
								$(".form-control1").select2();
								
						</script>
					</div>

				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

</div>

</body>
</html>