<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Свіжа збірка мінімізованих CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- Додаткові теми -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<!-- Свіжа збірка мінімізованої JavaScript -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</head>
	<body>

		<div class="container"> 
			<h2 class="text-center text-info">Інформація по будівлі:
				<span class="input-group-addon">{{variable}}</span>
			</h2>
			{% for i in requestData%}
			<div class="input-group">
				 <span class="input-group-addon"><i class="icon-envelope"></i></span>
				 <span class="glyphicons glyphicons-database-minus"></span>
	 			 <input type="text" class="form-control" placeholder="{{i.1}}">
			</div>
			{% endfor %}
		</div>

	</body>
	
</html>